replace `sodiumoxide`, smaller `nonce` and prevents `wasm32` builds

Issue: `sodiumoxide` prevents `wasm32` builds

https://github.com/cryptidtech/multikey/blob/19238d9146184751589dc8f08a0a815efbc44679/Cargo.toml#L30

Perhaps `sodiumoxide` could be:

A. set behind a feature flag

```
#[cfg(not(target_arch = "wasm32"))]
```

B. Replaced with `RustCrypto/`[`chacha20`](https://crates.io/crates/chacha20) and [`crates/poly1305`](https://crates.io/crates/poly1305) as it appears to only be used here: 

https://github.com/cryptidtech/multikey/blob/19238d9146184751589dc8f08a0a815efbc44679/src/views/chacha20.rs#L11

Digging a bit further, `sodiumoxide` [appears to be using 8 bytes nonce](https://docs.rs/sodiumoxide/latest/sodiumoxide/crypto/aead/chacha20poly1305/constant.NONCEBYTES.html) whereas the [RFC 8439](https://www.rfc-editor.org/rfc/rfc8439#section-2.3) recommends the more modern version at 12 bytes:

>Note also that the original ChaCha had a 64-bit nonce and 64-bit
>block count.  We have modified this here to be more consistent with
>recommendations in [Section 3.2 of [RFC5116]](https://www.rfceditor.org/rfc/rfc5116#section-3.2).

B. should be the solution in that case, `sodiumoxide` should be replaced.

closed by #2 